*{
    margin: 0px;
    padding: 0px;
}
html,body{
    background-color: rgb(242, 239, 233);
    font-family:'Signika Negative', sans-serif;
    height: 100%;
}
h1,h2,h3,h4,h5,h6{
    margin: 10px;
}
a{
    color: inherit;
    text-decoration: none;
    font-family: 'Signika Negative', sans-serif;
}
a:hover{
    color: teal;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.btn{
    padding: .7rem 1rem;
    background: teal;
    color: white;
    border: 1px solid transparent;
    border-radius: 6px;
    margin: 5px;
}
.btn:hover{
    color: white !important;
    background-color: rgb(2, 36, 36);
}
.btn-big{
   float: right;
   margin-right: 42px;

}

.text-input{
    padding: .7rem 1rem;
    display: block;
    width: 80%;
    border-radius: 7px;
    border: 1px solid lightgray;
    outline: none;
    color: #444;
    line-height: 1.5rem;
    font-size: 1.2em;
}
.msg{
    width: 80%;
    margin: 5px auto;
    padding: 8px;
    border-radius: 6px;
    list-style: none;
}
.success{
    color: #3a6e3a;
    border: 1px solid #3a6e3a;
    background: #bcf5bc;
}
.error{
    color: #e4706c;
    border: 1px solid #e4706c;
    background: rgb(248, 202, 202);
}

/* navbar */
header{
    background: #343535;
    height: 60px;
}
header .bar-logo{
    display: none;
}
header .logo{
    float: left;
    margin: 6px;
    font-family: 'Anton', sans-serif;
}
header .logo-text{
    margin: 0px;
}
header .logo-text span{
    color: #1aecf0;
}
header ul{
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
header ul li{
    float: left;
    position: relative;
}

header ul li ul{
    position: absolute;
    top: 60px;
    width: 180px;
    display: none;
    z-index: 8888;
}
header ul li:hover ul{
    display: block;
}
header ul li ul li {
    width: 100%;
}
header ul li ul li a{
    padding: 10px;
    background: white;
    color: #444;
}
header ul li ul li a:hover{
    background: rgb(162, 161, 160);
}
header ul li ul li a.logout{
    color: red;
}
header ul li a{
    display: block;
    padding: 20px;
    color: antiquewhite;
    text-decoration: none;
}
header ul li a:hover{
    background: #023233;
    transition: 0.5s;
}