* {
  margin: 0px;
  padding: 0px;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Signika Negative", sans-serif;

  /* background-color: black; */
  /* color: white; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px;
}
a {
  color: inherit;
  text-decoration: none;
  font-family: "Signika Negative", sans-serif;
}
a:hover {
  color: rgb(197, 202, 206);
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.btn {
  padding: 0.7rem 1rem;
  background: rgb(1, 8, 8);
  color: white;
  border: 1px solid transparent;
  border-radius: 6px;
  margin: 5px;
}
.btn:hover {
  color: white !important;
  background-color: orangered;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}
.btn-big {
  float: right;
  margin-right: 42px;
}

.text-input {
  padding: 0.7rem 1rem;
  display: block;
  width: 100%;
  border-radius: 7px;
  border: 1px solid lightgray;
  outline: none;
  color: #444;
  line-height: 1.5rem;
  font-size: 1.2em;
}
.msg {
  width: 80%;
  margin: 5px auto;
  padding: 8px;
  border-radius: 6px;
  list-style: none;
}
.success {
  color: #3a6e3a;
  border: 1px solid #3a6e3a;
  background: #bcf5bc;
}
.error {
  color: #e4706c;
  border: 1px solid #e4706c;
  background: rgb(248, 202, 202);
}

/* auth pages */
.auth-content {
  width: 30%;
  margin: 50px auto;
  padding: 20px;

  border-radius: 5px;
}
.auth-content .form-title {
  text-align: center;
  font-weight: bolder;
}
.auth-content .form-title span {
  color: orangered;
  font-weight: bolder;
}
.auth-content form div {
  margin-bottom: 20px;
  /* margin-left: 24px; */
}

.auth-content form p {
  text-align: center;
}
.auth-content form p a {
  text-decoration: underline;
}
.auth-content form .btn {
  /* margin-left: 20px; */
  padding: 12px 20px;
}
