/* General css */

@import url("https://fonts.googleapis.com/css2?family=Meow+Script&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Signika Negative", sans-serif;
  height: 100%;
  background-color: black;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px;
}
a {
  color: inherit;
  text-decoration: none;
  font-family: "Signika Negative", sans-serif;
}
a:hover {
  color: rgb(2, 56, 100);
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.btn {
  padding: 0.7rem 1rem;
  background: rgb(1, 8, 8);
  color: white;
  border: 1px solid transparent;
  border-radius: 6px;
  margin: 5px;
}
.btn:hover {
  color: white !important;
  background-color: orangered;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}
.btn-big {
  float: right;
  margin-right: 42px;
}

.text-input {
  padding: 0.7rem 1rem;
  display: block;
  width: 80%;
  border-radius: 7px;
  border: 1px solid lightgray;
  outline: none;
  color: #444;
  line-height: 1.5rem;
  font-size: 1.2em;
}
.msg {
  width: 80%;
  margin: 5px auto;
  padding: 8px;
  border-radius: 6px;
  list-style: none;
}
.success {
  color: #3a6e3a;
  border: 1px solid #3a6e3a;
  background: #bcf5bc;
}
.error {
  color: #e4706c;
  border: 1px solid #e4706c;
  background: rgb(248, 202, 202);
}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* features */
.centers {
  height: 400px;
  /* background: url("../images/bg3.jpg"); */
  /* background-color: black; */
}
.centers ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 85px;
}
.text-center {
  text-align: center;
  font-size: 1.5rem;
  color: black;
}
.title {
  font-size: 2.5rem;
  color: orangered;
  font-weight: bold;
  font-style: inherit;
  margin-top: 20px;

  text-align: center;
  font-family: "Audiowide", cursive;

  /* text-shadow: 0 0 3px #084c79, 0 0 5px #0077ff; */
}
.title span {
  color: white;
}
.muchmore {
  font-family: "Ceviche One", cursive;
  text-align: center;
  font-size: 4rem;
  color: yellow;
  font-weight: bold;
}
.centers ul li {
  list-style: none;
  margin: 10px;
  color: white;
}
.fas {
  color: white;
}
.large {
  font-size: 3.5rem;
  margin-left: 45px;
}
/* registeration advertisement */
.ad_register {
  margin: 0px 0px;
  background: url("../images/add_bg.jpg") no-repeat center/cover;

  height: 400px;
  padding: 70px;
}
.add {
  border: 1px solid transparent;
  background: rgb(1, 8, 8);
  color: white;
  border-radius: 6px;
  margin: 5px;
  position: relative;
  top: 14%;
  left: 40.5%;
  padding: 15px 70px;
}
.add:hover {
  color: white !important;
  background-color: orangered;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}

.ad_text {
  font-size: 2.5rem;
  color: #ffffff;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  font-weight: bold;
}
.ad_text span {
  color: orangered;
}
.fa-arrow-down {
  position: relative;
  left: 50%;
  color: white;
  font-size: 3rem;
}
/* special offer */
.specialoffer {
  background: url("../images/bg2.jpg") no-repeat center/cover;
  height: 400px;
  padding: 70px;
  color: white;
}
.specialoffer-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.specialoffer-content h1 {
  font-size: 5em;
  font-weight: bold;
  color: white;
  margin-right: 101px;

  font-family: "Ceviche One", cursive;
}
.specialoffer-content a {
  position: relative;
  top: 30px;
  right: -58px;
}

.buygym {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 61px;
}
.buygym h2 {
  margin-top: 0px;
  font-family: "Ceviche One", cursive;
  font-size: 2rem;
  color: white;
  letter-spacing: 9px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.buygym .btn {
  position: relative;
  top: 30px;
  right: -58px;
}

/* //products */
.prooffer-ui {
  background: url("../images/bgs/p1.jpg") no-repeat center/cover;
  height: 400px;
  padding: 70px;
  color: white;
}

.explore {
  color: white;
  font-size: 2.5rem;
  font-family: "Ceviche One", cursive;
  /* text-decoration: underline; */
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  transition: all 0.2s ease-in-out;
}
.explore:hover {
  color: orangered;
  transform: scale(1.1);
  /* animation: grow 0.5s ease-in-out; */
  font-size: 3rem;
}

@keyframes grow {
  from {
    transform: scale(100px);
  }
  to {
    transform: scale(300px);
  }
}
.pr h1 {
  background: #2bcf88;
  background: -webkit-linear-gradient(#ff4500, rgb(243, 51, 185));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: "Permanent Marker", cursive;
  text-align: center;
  font-size: 74px;
}
.pc {
  margin-top: 0px;
  font-family: "Luckiest Guy", cursive;
  font-size: 2.5rem;
  color: white;

  /* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; */
  letter-spacing: 9px;
  /* text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff; */
}

.buypd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 61px;
}
