.container {
  display: flex;

  margin: 40px;
  padding: 20px;
  height: 668px;
  width: 1403px;
  flex-direction: column;
  flex-wrap: wrap;
}
.item {
  display: flex;

  background-color: rgba(196, 242, 255, 0.822);
  /* background-image: url("https://i0.wp.com/cdn-prod.medicalnewstoday.com/content/images/articles/321/321518/protein-shakes-are-good-weight-gain-foods.jpg?w=1155&h=1541"); */
  margin: 20px;
  padding: 0px;
  width: 320px;
  height: 260px;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 6px;
  flex: 0 32%;
  cursor: pointer;

  margin-bottom: 2%;
}

.titl1 {
  display: flex;
  margin: 0px 20px;
  padding: 5px;
  width: 285px;
  font-family: "Bebas Neue", cursive;
  font-size: 29px;
  justify-content: center;
  border-radius: 19px;
  cursor: pointer;
  align-items: center;
}
.titl1 a {
  color: black;
  font-weight: 700;
  font-family: "Bebas Neue", cursive;
}
.titl1 a:hover {
  color: rgb(10, 1, 1);
}
.item:hover {
  box-shadow: 10px 10px 10px;
  cursor: pointer;
}
.titlmid1 {
  display: flex;

  margin: 0px;
  padding: 0px;
  height: 135px;
  width: 220px;
}

.titlend1 {
  display: flex;
  margin: 3px 3px;
  height: 70px;
  width: 290 px;
  align-items: center;
  justify-content: right;
}

.img {
  width: 320px;
  height: 211px;
  border-radius: 3px;
}

.Oicon {
  text-align: center;
  width: 47px;
  height: 59px;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
}

#work {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  font-size: 30px;
}
